html{
	padding:0;
	margin:0;
}
body{
	background-color: #aaa;
}
.u-trigger{
	display: block;
	width: 120px;
	height: 32px;
	font-size: 16px;
	margin: 60px auto;
}
.m-box{
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	background-color:rgba(255,255,255,0.5);
	text-align:center;
	color:#aaa;
}
.m-box .box_align,.m-box .box_wrap{
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	*vertical-align:auto;
	vertical-align:middle;
}
.m-box .box_align{
	height:100%;
	width:1px;
	line-height:100%;
}
.m-box .box_wrap{
	position:relative;
	text-align:left;
	width:400px;
	-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.4);
	box-shadow:2px 2px 5px rgba(0,0,0,0.4);
	border-radius:3px;
	overflow:hidden;
}
.m-box .close{
	position:absolute;
	right:8px;
	top:8px;
	font-size:18px;
	color:#ddd;
	cursor:pointer;
}
.m-box .close:hover{
	color:#999;
}
.m-box .box_head{
	background-color:#3498db;
	line-height:1.5;
	padding:6px 20px;
	color:#fff;
	border-bottom:1px solid #258cd1;
}
.m-box .box_body{
	background-color:#fff;
	border-top:1px solid #eee;
	padding:20px;
}
.m-close {
    background: orange;
    color: red;
    border-radius: 12px;
    line-height: 20px;
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 18px;
    padding: 1px;
}
.m-close::before {
    content: "\2716";
}
.m-close {
    top: 6px;
    right: 5px;
    position: absolute;
}